<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PHPTravels – Scenario 2: Hotel Search Filter and Booking" verbose="2">

    <test name="Hotel Search Filter and Room Booking">
        <classes>
            <class name="tests.HotelSearchTest"/>
        </classes>
    </test>

</suite>
