<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PHPTravels Automation Suite" verbose="1">
    <listeners>
        <listener class-name="tests.TestListener" />
    </listeners>
    <test name="Hotel Booking Scenario">
        <classes>
            <class name="tests.HotelSearchTest"/>
        </classes>
    </test>

</suite>
